<p>
  Login status: {{status}}
</p>

<div *ngIf="status">
  <h2>Please provide your credentials:</h2>
  <div>
    <label>Username: </label>
    <input #name placeholder="name"/></div>
  <div>
    <label>Password: </label>
    <input #password placeholder="password" />
  </div>
  <button (click)="doLogin(name.value, password.value)">Ok</button>
</div>

<p class="response" *ngIf="loginResponse">Response success: {{loginResponse.success}}</p>
<p class="response" *ngIf="loginResponse">Response reason: {{loginResponse.reason}}</p>

<p class="error" *ngIf="errorMessage">{{errorMessage}}</p>
